HOST_NAME_CONF  ="Please enter a value."
WS_ENDPOINT_CONF ="Please enter a value."
PORT_CONF ="Please enter a value."
HOST_CASSANDRA="Please enter a value."
USER_CASSANDRA="Please enter a value."
PASSWORD_CASSANDRA="Please enter a value."
